body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --green: #6AAD00;
    --light-green: #97D534;
    --grey: #505050;
    --light-grey: #DADADA;
}

* {
    color: var(--grey);
    box-sizing: border-box;
}

button {
    width: 10rem;
    height: 3rem;
    background: linear-gradient(95deg, var(--green) 0%, var(--light-green) 100%);
    border-radius: 0.2rem;
    border: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.title {
    color: var(--green);
    margin: 2rem 0 0.5rem;
    font-size: 3rem;
    text-align: center;
}

.tagline {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

.input-container {
    display: flex;
    margin: 4rem 0;
    justify-content: space-between;
}

::placeholder {
    color: #979797;
}

.apikey-input {
    height: 3rem;
    padding: 0 0 0 0.5rem;
    border: 1px solid var(--light-grey);
    border-radius: 0.2rem;
    width: calc(100% - 11rem);
}

.apiKey:focus {
    outline: var(--grey);
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 1000px;
}
.formatted-json * {
    font-family: monospace;
    color: #5ba8ff;
}
.container {
    display: flex;
    justify-content: space-between;
}
.container > div {
    width: 47.5%;
}
.container > div:first-child {
    margin-right: 2rem;
}
.formatted-json {
    background: #1B1F22;
}
.formatted-json, textarea {
    height: 400px;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
textarea {
    border: 1px solid var(--light-grey);
}
.endpoint {
    font-size: 0.8rem;
    margin: 0.5rem 0 1rem;
}
