body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --green: #6AAD00;
    --light-green: #97D534;
    --grey: #505050;
    --light-grey: #DADADA;
}

* {
    color: var(--grey);
    box-sizing: border-box;
}

button {
    width: 10rem;
    height: 3rem;
    background: linear-gradient(95deg, var(--green) 0%, var(--light-green) 100%);
    border-radius: 0.2rem;
    border: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.title {
    color: var(--green);
    margin: 2rem 0 0.5rem;
    font-size: 3rem;
    text-align: center;
}

.tagline {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

.input-container {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

::placeholder {
    color: #979797;
}

.apikey-input {
    height: 3rem;
    padding: 0 0 0 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 0.2rem;
    width: calc(100% - 11rem);
}

.apiKey:focus {
    outline: var(--grey);
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 68rem;
    margin-bottom: 4rem;
}
.formatted-json * {
    font-family: monospace;
    color: #5ba8ff;
}
.container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.container > div {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container > div:first-child {
    margin-right: 2rem;
}
.formatted-json {
    background: #1B1F22;
    overflow: auto;
}
.formatted-json, textarea {
    height: 26rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
textarea {
    border: 1px solid var(--light-grey);
}
.copy {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.error {
    color: red;
}
.success {
    color: var(--green);
}
.loader1 {
    position: absolute;
    right: 11.7rem;
}
.loader2, .loader3 {
    margin-left: 0.6rem;
}
.button-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}


.loader {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--green) , transparent 80%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader div {
    width: 1.8rem;
    height: 1.8rem;
    background: white;
    border-radius: 50%;
}

.bracket-loader {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
